name: Semantic Release

on:
    push:
        branches:
            - main

jobs:
    semantic-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: none
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  persist-credentials: true

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build project
              run: bun run build

            - name: Publish
              run: bun x semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.PUBLISH_NPM_TOKEN }}
